---
title: Vets.gov Dashboard
mission_statement: Vets.gov enables Veterans to <b>discover</b>, <b>apply</b> for, <b>track</b>, and <b>manage</b> the benefits they have earned
access: Improving Veteran access to benefits and services
tiles:


  - name: Mobile access
    layout: compare_100bars
    id: mobile
    datapoint: 100
    before: 46

  - name: Accessibility compliance
    layout: basic
    datapoint: 100%
    context: of vets.gov meets 508 standards

  - name: Online portion of 582k annual healthcare applications
    layout: compare_pie
    datapoint: 50
    before: 10
    context: Percentage submitted online


  - name: No special software required
    layout: quote
    text: Some Veterans don’t have the finances to upgrade to a computer that carries the most recent version of Adobe" - Reserach participant


  - name: <span class="glyphicon glyphicon-user tab-icon" aria-hidden="true"></span><span>Users</span>
    layout: chart
    data: core_users
    context: Total users per week
    cols:
      - id: all
        label: Count of users

  - name: <span class="glyphicon glyphicon-phone tab-icon" aria-hidden="true"></span><span>Mobile Usage</span>
    layout: chart
    data: core_mobile
    context: Percentage of sessions by device type
    yLabel: Percentage
    yMax: 100
    cols:
      - id: mobile
        label: Mobile
        color: rgb(17,46,81)
      - id: desktop
        label: Desktop
        color: rgb(175,175,175)

  - name: <span class="glyphicon glyphicon-file tab-icon" aria-hidden="true"></span><span>Page views</span>
    layout: chart
    data: core_views
    context: Total page views per week
    cols:
      - id: views
        label: Count of pageviews
---

{% include header.html %}

{% include tile_section.html %}

<div class="container">
  <div class="row subtitle">
    <div class="col-md-12">
      <p>Enabling Veterans to:</p>
    </div>
  </div>
</div>

<div class="category-grid">
  {% assign categories = "Discover, Apply, Track, Manage" | split: ", " %}
  {% for category in categories %}
  {% assign shaded = forloop.index | modulo: 2 %}
  <div class="band{% if shaded == 0 %} shaded{% endif %}">
    <div class="container">
      <div class="row">
        <div class="col-md-12 category-header">
          <p>{{category}}</p>
        </div>
      </div>
    <div class="row">
      {% assign projects = site.boards | where: "category", category | sort: "status" %}
      {% for project in projects %}
      <div class="col-sm-6 col-md-3">
        {% include tiles/project.html %}
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container">
  <div class="row subtitle">
    <div class="col-md-12">
      <p>Migration status</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Products delivered
        </div>
        <div class="chart-stage">
          <p class="datapoint">39</p>
          <span class="chart-notes">since Nov 2015 </span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Days in VA release cycle
        </div>
        <div class="chart-stage">
          <div class="compare compare-before">
              <p class="before-text">90</p>
              <span class="chart-notes">Before</span>
          </div>
          <div class="compare">
              <p class="datapoint">7</p>
              <span class="chart-notes">After</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="comingsoon-wrapper">
            <p class="project-title">Migration Dashboard</p>
            <p>Tracks the legacy products on VA.gov websites that are migrated to vets.gov</p>
            <span class="label label-default label-status">In Progress</span>
        </div>
    </div>


  </div>
</div>

{% include footer.html %}
