---
title: Dashboard
---

{% include header.html %}

    <div class="row">

      {% for project in site.data.projects %}

        <div class="col-sm-6 col-md-4">
          <a href="boards/{{project.board}}.html">
            <div class="chart-wrapper">
              <div class="chart-title">
                {{project.name}}
              </div>
              <div class="chart-stage">
                <div id="grid-1-1">
                  <h2>{{project.datapoint}}</h2>
                </div>
              </div>
              <div class="chart-notes">
                {{project.context}}
              </div>
            </div>
          </a>
        </div>

      {% endfor %}

    </div>

{% include footer.html %}
