---
title: Vets.gov Executive Scorecard
subtitle: Vets.gov is the single digital experience for Veterans to acccess the benefits they have earned
tiles:
  - name: Site Traffic
    layout: chart
    data: hca_sessions
    context: Total user sessions per day
    cols:
      - id: sessions
        label: Number of Sessions
---

{% include header.html %}

<div class="row">
  <div class="col-md-12">
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 subtitle">
    <h3>{{page.subtitle}}</h3>
  </div>
</div>

<div class="row">
  {% for tile in page.tiles %}
    {% include tiles/{{tile.layout}}.html %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Vets.gov features enable Veterans to do the following: </h3>
  </div>
</div>

      <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="category-header">
              <h2>Discover</h2>
            </div>

          <div class="row">
          {% for project in site.data.discover %}

          {% include project_tile.html %}
          {% endfor %}
    </div>
      </div>

      <div class="col-sm-6 col-md-3">
          <div class="category-header">
            <h2>Apply</h2>
          </div>
          <div class="row">
            {% for project in site.data.apply %}

            {% include project_tile.html %}
            {% endfor %}
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="category-header">
              <h2>Track</h2>
            </div>
            <div class="row">
              {% for project in site.data.track %}

              {% include project_tile.html %}
              {% endfor %}
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
              <div class="category-header">
                <h2>Manage</h2>
              </div>
              <div class="row">
                {% for project in site.data.manage %}

                {% include project_tile.html %}
                {% endfor %}
              </div>
            </div>

    </div>

{% include footer.html %}
