---
title: Vets.gov Migration Status
description: Last updated in early 2016
---

{% include header.html %}

<div class="container">
  <ul class="legend">
      <li><span class="status complete"></span> Complete</li>
      <li><span class="status in-progress"></span> In Progress </li>
      <li><span class="status low-risk"></span> Risk of Delay*</li>
      <li><span class="status high-risk"></span> Delayed** </li>
      <li><span class="status not-started"></span> Not Started</li>
  </ul>

  <p class="note">* Risks being managed by team, but may require escalation<br> ** requires action / assistance</p>
      <table class="migration_table">
          <thead>
              <tr>
                  <th>Product</th>
                  <th>Vets.gov Lead</th>
                  <th>VA Business Owner</th>
                  <th>Product Definition</th>
                  <th>Discovery</th>
                  <th>Prototype</th>
                  <th>Pre Flight</th>
                  <th>Go Live</th>
                  <th>Launch Date</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Beta Launch vets.gov Content</td>
                  <td>Susan B.</td>
                  <td>Martin Taylor</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>Disbility Benefits (content)</td>
                  <td>Susan B.</td>
                  <td>Jennifer Rudisill</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>Education Benefits (content)</td>
                  <td>Susan B.</td>
                  <td>Jennifer Rudisill</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>Facility Locator Launch</td>
                  <td>Rick L.</td>
                  <td>Dat Tran</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>Feedback Forum launch</td>
                  <td>Marina M.</td>
                  <td>Marina M.</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>GI Bill Tool Launch</td>
                  <td>Rick L.</td>
                  <td>Curt Coy</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>GI Bill Tool Outcome Measures</td>
                  <td>Rick L.</td>
                  <td>Curt Coy</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>vets.gov Google Analytics Launch</td>
                  <td>Marina M.</td>
                  <td>Marina Martin</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>vets.gov Playbook</td>
                  <td>Emily W.</td>
                  <td>Martin Taylor</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>vets.gov Search Launch</td>
                  <td>Marina M.</td>
                  <td>Marina Martin</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>vets.gov platform launch</td>
                  <td>Shawn A.</td>
                  <td>Marina Martin</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2015</td>
              </tr>
              <tr>
                  <td>Veterans Employment Center Launch</td>
                  <td>Kelly O.</td>
                  <td>Rosye Cloud</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>12/2015</td>
              </tr>
              <tr>
                  <td>Careers &amp; Employment (content)</td>
                  <td>Kelly O.</td>
                  <td>Rosye Cloud</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>03/2016</td>
              </tr>
              <tr>
                  <td>GI Bill Tool School Ratings Prototype</td>
                  <td>Rick L.</td>
                  <td>Curt Coy</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>03/2016</td>
              </tr>
              <tr>
                  <td>Identity and Access Management (IAM) Discovery Sprint</td>
                  <td>Jeff M.</td>
                  <td>Marina Martin</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>04/2016</td>
              </tr>
              <tr>
                  <td>Veterans Employment Center (VEC) Ehnancements</td>
                  <td>Kelly O.</td>
                  <td>Rosye Cloud</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>04/2016</td>
              </tr>
              <tr>
                  <td>GI Bill Tool School Data Service</td>
                  <td>Rick L.</td>
                  <td>Curt Coy</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>05/2016</td>
              </tr>
              <tr>
                  <td>Healthcare Application (10-10EZ/VOA)</td>
                  <td>Emily T.</td>
                  <td>Matt Eitutis</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>05/2016</td>
              </tr>
              <tr>
                  <td>Facility &amp; Service Locator Prototype</td>
                  <td>Rick Lee</td>
                  <td>Dat Tran</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>06/2016</td>
              </tr>
              <tr>
                  <td>Veteran Crisis Line</td>
                  <td>Kelly O.</td>
                  <td>Matt Eitutis</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>06/2016</td>
              </tr>
              <tr>
                  <td>Apply for Eduction Benefits (21-1990 Form)</td>
                  <td>Anne K.</td>
                  <td>Rob Worley</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>10/2016</td>
              </tr>
              <tr>
                  <td>Facility &amp; Service Locator</td>
                  <td>Stacey L.</td>
                  <td>Dat Tran</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>10/2016</td>
              </tr>
              <tr>
                  <td>Health Prescriptions (MyHealtheVet)</td>
                  <td>Stacey L.</td>
                  <td>Theresa Hancock</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td>10/2016</td>
              </tr>
              <tr>
                  <td>Health Secure Message (MyHealtheVet)</td>
                  <td>Stacey L.</td>
                  <td>Theresa Hancock</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td>10/2016</td>
              </tr>
              <tr>
                  <td>Million Veteran Program (content)</td>
                  <td>Ric A.</td>
                  <td>Sybil Murphy</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td>10/2016</td>
              </tr>
              <tr>
                  <td>Benefits - Check Disabilty Claim Status</td>
                  <td>Kelly O.</td>
                  <td style="background-color: green; color: green;">Tom Murphy / Christi Greenwell</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td>11/2016</td>
              </tr>
              <tr>
                  <td>Veteran Verification Badge Proof of Concept</td>
                  <td>Greg G.</td>
                  <td>Marina Martin</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td>11/2016</td>
              </tr>
              <tr>
                  <td>Vets.gov Account</td>
                  <td>M. Martin</td>
                  <td>Marina Martin</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td>11/2016</td>
              </tr>
              <tr>
                  <td>Benefits - File a Disabilty Claim</td>
                  <td>Stacey L.</td>
                  <td style="background-color: green; color: green;">Tom Murphy / Christi Greenwell</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td>12/2016</td>
              </tr>
              <tr>
                  <td>Burial &amp; Memorial Services (content)</td>
                  <td>Ric A.</td>
                  <td>Jessica Tozer</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td>12/2016</td>
              </tr>
              <tr>
                  <td>Homeless Programs (content)</td>
                  <td>Kelly O.</td>
                  <td>Anthony Love</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td>12/2016</td>
              </tr>
              <tr>
                  <td>Vocational Rehabilitation &amp; Employment</td>
                  <td>Mary Ann B.</td>
                  <td>Betty Hodge</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td>12/2016</td>
              </tr>
              <tr>
                  <td>Benefits - Disabilty Rating Explorer (Content Only)</td>
                  <td>Mary Ann B.</td>
                  <td>Tom Murphy</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td>01/2017</td>
              </tr>
              <tr>
                  <td>Health Assessment (MyHealtheVet)</td>
                  <td>Stacey L.</td>
                  <td>Theresa Hancock</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>03/2017</td>
              </tr>
              <tr>
                  <td>Health Download Records (MyHealtheVet Blue Button)</td>
                  <td>Stacey L.</td>
                  <td>Theresa Hancock</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>03/2017</td>
              </tr>
              <tr>
                  <td>Pre Need Burial</td>
                  <td>Kelly O.</td>
                  <td>Bill Barnes</td>
                  <td style="background-color: rgb(192, 192, 192);">Complete</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>03/2017</td>
              </tr>
              <tr>
                  <td>Health Appointments (MyHealtheVet)</td>
                  <td>Stacey L.</td>
                  <td>Theresa Hancock</td>
                  <td style="background-color: green; color: green;">Green</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>TBD</td>
              </tr>
          </tbody>
      </table>
</div>
</div>

{% include footer.html %}
