---
title: Veteran research
description: Human centered design approach to Veteran research
feedback:

  - name: Veteran reaction to healthcare application
    offset: yes
    layout: quote
    text: I’ve tried to fill out the 10-10EZ [VOA] so many times it’s like ridiculous…some Veterans don’t have the finances to upgrade to a computer that carries the most recent version of Adobe…I called the VA and the woman told me, after she had me on hold, that she couldn’t help me.”

---

{% include header.html %}

<div class="quote-band big">
  <div class="container">
    {% include research.html %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="usa-button dark" href="https://www.vets.gov/playbook/human-centered-design/">Learn more about our research process</a>
    </div>
  </div>
</div>

{% include footer.html %}
