<div class="col-md-6 col-lg-4">
  <div class="chart-wrapper">
    <div class="chart-title">
      {{tile.name}}
    </div>
    <div class="chart-stage">
      <canvas id="{{tile.id}}" width="300" height="100"></canvas>
      <span class="chart-notes">{{tile.context}}: {{tile.datapoint}}</span>
    </div>
  </div>
</div>
<script>
var ctx = document.getElementById("{{tile.id}}");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [''],
        datasets: [{
            data: [ {{tile.datapoint}}],
            backgroundColor: ['rgba(0,113,188,1)',
                              'rgba(17,46,81,0)'],
            borderColor: ['rgb(0,113,188,1)',
                          'rgba(17,46,81,0)'],
            hoverBackgroundColor: ['rgba(0,113,188,1)',
                              'rgba(17,46,81,0)'],
            hoverBorderColor: ['rgb(0,113,188)',
                          'rgba(17,46,81,0)']
        }]
    },
    options: {
        responsive: false,
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  max: 100
                },
              }]
            }
    }
});
</script>
