
  <div class="chart-wrapper real-chart">
    <div class="chart-holder">
      <canvas class="metric-chart" id="{{chart.data}}-chart" width="600" height="250"></canvas>
    </div>
  </div>

<script>
var ctx = document.getElementById("{{chart.data}}-chart");
{% capture datafile %}{{ page.charts | append: chart.data }}{% endcapture %}
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for line in site.data[datafile] %}'{{ line.day }}',{% endfor %}],
        datasets: [
        {% for col in chart.cols %}
        {
            label: '{{col.label}}',
            data: [{% for line in site.data[datafile] %}{{ line[col.id] }},{% endfor %}]

            {% if chart.cols.size == 1 %},
            backgroundColor: 'rgba(17,46,81,0.3)',
            borderColor: 'rgb(17,46,81)'
            {% else %},
            backgroundColor: 'transparent',
            borderColor: '{{col.color}}'
            {% endif %}
        },
        {% endfor %}
        ]
    },
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    {% unless chart.yLabel == "Percentage" %}
                    callback: function(num, index, values) {
                                return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
                              }
                    {% else %}
                    callback: function(num, index, values) {
                                return num.toString().concat("%")
                              }
                    {% endunless %}
                },
                scaleLabel: {
                  {% if chart.yMax %}max: {{chart.yMax}} {% endif %}
                },
            }],
            xAxes: [{
              gridLines: {
                display: false
              }
            }]
        },
        legend: {
          position: 'bottom',
          {% if chart.cols.size == 1 %}
          display: false
          {% endif %}
        },
        title: {
          text: '{{chart.context}}',
          display: true,
          position: 'bottom',
          fontSize: 16,
          fontFamily: 'Source Sans Pro',
          fontStyle: 'normal',
          fontColor: 'rgb(17,46,81)'
        }
    }
});

myCharts.push(myChart);

</script>
