<div class="col-sm-6 col-md-4">
  <div class="chart-wrapper">
    <div class="chart-title">
      {{tile.name}}
    </div>
    <div class="chart-stage">
      <div class="row">
        <div class="col-xs-6">
          <h2>{{tile.before}}</h2>
          <span>Before</span>
        </div>
        <div class="col-xs-6">
          <h2>{{tile.datapoint}}</h2>
          <span>After</span>
        </div>
      </div>
    </div>
    <div class="chart-notes">
      {{tile.context}}
    </div>
  </div>
</div>
