<div class="col-md-6 col-lg-4">
  <div class="chart-wrapper">
    <div class="chart-title">
      {{tile.name}}
    </div>
    <div class="chart-stage">
      <div class="compare compare-before">
          <p class="before-text">{{tile.before}}</p>
          <span class="chart-notes">{{tile.before_text | default: "Before"}}:</span>
      </div>
      <div class="compare">
          <p class="datapoint">{{tile.datapoint}}</p>
          <span class="chart-notes">{{tile.after_text | default: "After"}}:</span>
      </div>
    </div>
  </div>
</div>
