<div class="col-sm-6 col-md-4">
  <div class="chart-wrapper">
    <div class="chart-title">
      {{tile.name}}
    </div>
    <div class="chart-stage">
      <div class="row">
        <div class="col-xs-4 compare-before">
          <p class="before-text">{{tile.before}}</p>
          <span class="chart-notes">Before</span>
        </div>
        <div class="col-xs-8">
          <p class="datapoint">{{tile.datapoint}}</p>
          <span class="chart-notes">After</span>
        </div>
      </div>
    </div>
  </div>
</div>
