<div class="col-sm-6 col-md-4">
  <div class="chart-wrapper">
    <div class="chart-title">
      {{tile.name}}
    </div>
    <div class="chart-stage">
      <canvas id="{{tile.id}}" width="350" height="150"></canvas>
    </div>
    <div class="chart-notes">
      {{tile.context}}
    </div>
  </div>
</div>
<script>
var ctx = document.getElementById("{{tile.id}}");
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Datapoint'],
        datasets: [{
            data: [ {{tile.datapoint}}, {{ 100 | minus: tile.datapoint }} ],
            backgroundColor: ['rgba(17,46,81)',
                              'rgba(17,46,81,0)'],
            borderColor: ['rgb(17,46,81)',
                          'rgba(17,46,81,0)']
        }]
    },
    options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        title: {
          text: "{{tile.datapoint}}%",
          display: true,
          position: 'bottom',
          fontSize: 20,
          fontFamily: 'Source Sans Pro',
          fontStyle: 'normal',
          fontColor: 'rgb(17,46,81)',
        }

    }
});
</script>
