<div class="col-sm-6 col-md-4">
  <div class="chart-wrapper">
    <div class="chart-title">
      {{tile.name}}
    </div>
    <div class="chart-stage">
      <div class="row">
        <div class="col-xs-6">
          <a href="#" class="thumbnail">
            <img src="{{ site.baseurl }}/assets/img/{{tile.before}}" alt="The old experience" />
          </a>
          <span>Before</span>
        </div>
        <div class="col-xs-6">
          <a href="#" class="thumbnail">
            <img src="{{ site.baseurl }}/assets/img/{{tile.after}}" alt="The vets.gov experience" />
          </a>
          <span>After</span>
        </div>
      </div>
    </div>
  </div>
</div>
