{% unless project.status == "progress" %}<a href="{{site.baseurl}}{{project.url}}">{% endunless %}
  <div class="project-wrapper">
      <p class="project-title">{{project.title}}</p>
      <p>{{project.description}}</p>

      {% if project.status == "new" %}<span class="label label-primary label-status">New</span>{% endif %}
      {% if project.status == "progress" %}<span class="label label-default label-status">In Progress</span>{% endif %}
  </div>
{% unless project.status == "progress" %}</a>{% endunless %}
