<div class="col-md-6 col-lg-4">
  <div class="chart-wrapper">
    <div class="chart-title">
      {{tile.name}}
    </div>
    <div class="chart-stage">
      <div class="compare compare-before">
          <p class="before-text">{{tile.before}}</p>
          <span class="chart-notes">Vendor estimate</span>
      </div>
      <div class="compare">
          <p class="datapoint">{{tile.datapoint}}</p>
          <span class="chart-notes">Vets.gov actual</span>
      </div>
    </div>
  </div>
</div>
