<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>
  <title>{{page.title}}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/dashboards.css" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/bootstrap.vertical-tabs.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Roboto+Slab" rel="stylesheet" type="text/css">
  <script src="{{site.baseurl}}/assets/js/Chart.bundle.min.js"></script>
</head>
<body class="application">
  <div class="container-fluid dash-header">

      <div class="row">
        <div class="col-md-12 va-notice">
          <p><strong>This site is a <a target="_blank" href="https://www.vets.gov/playbook/design/">work in progress. </a></strong><a href="https://www.vets.gov/2015/11/11/why-we-are-designing-in-beta/"> A message from the Secretary</a></p>
        </div>
      </div>


    <div class="row">
      <div class="col-md-12 header-logo">
        <h1 role="banner" class="va-header-logo"><a href="https://www.vets.gov">
          <span>Vets.gov</span>
          <b>Dashboard</b></a></h1>
      </div>
    </div>

    <div class="dash-subhead">
      <div class="container">

        {% if page.mission_statement %}

          <div class="row">
            <div class="col-md-12">
              <h1>{{page.mission_statement}}</h1>
            </div>
          </div>

        {% else %}

        <div class="breadcrumbs">
          <div class="row">
            <div class="col-md-12">
              <a href="{{site.baseurl}}/index.html">Home</a><span> / {{page.title}}</span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <h2>{{page.title}}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <p>
            {% if page.date_added %}
            Added {{page.date_added | date: '%B %Y'}}<br>
            {% endif %}
            {{page.description}}</p>
          </div>
          <div class="col-xs-12 col-sm-3">
            {% if page.vetsdotgov_url %}
            <a class="btn btn-app" href="{{page.vetsdotgov_url}}">Visit {{page.title}}</a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>


<div class="dash-content">
