
<div class="container tile-container">

{% if page.tiles.size > 0 %}
  <div class="row subtitle">
    <div class="col-md-12">
      {% unless page.access %}
      <p>Featured Improvements</p>
      {% else %}
      <p>Access Improvements</p>
      <span class="access-sentence">{{page.access}}</span>
      {% endunless %}
    </div>
  </div>



{% assign featured = page.tiles | where_exp: "item", "item.layout != 'chart'" %}
<div class="row row-tile">
  {% for tile in featured limit: 3 %}
    {% include tiles/{{tile.layout}}.html %}
  {% endfor %}
</div>
{% endif %}

{% assign charts = page.tiles | where: "layout", "chart" %}
{% if charts.size > 0 %}
<div class="row subtitle">
  <div class="col-md-12">
    <p>Traffic</p>
  </div>
</div>

<script>
var myCharts = [];
</script>

<div class="row">
  <div class="col-md-12"> <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-chart">
        {% for tile in charts %}
        <li {% if forloop.first == true %}class="active"{% endif %}><a href="#{{tile.data}}" data-toggle="tab">{{tile.name}}</a></li>
        {% endfor %}
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        {% for tile in charts %}
        <div class="tab-pane{% if forloop.first == true %} active{% endif %}" id="{{tile.data}}">{% include tiles/{{tile.layout}}.html %}</div>
        {% endfor %}
      </div>
  </div>
</div>

<script>
window.onload = function () {
  canvases = document.getElementsByClassName("metric-chart");

  var i;

  responsive : true;
  animation: true;

  //Skip first that's already displayed
  for (i = 1; i < canvases.length; i++) {
      canvases[i].style.height=canvases[0].style.height;
      canvases[i].style.width=canvases[0].style.width;
  }
}
</script>




{% endif %}

</div>
