<div class="row">
  <div class="col-md-12">
    <div class="chart-wrapper">
      <div class="chart-title">
        User Experience
      </div>
      <div class="chart-stage">
        <div class="row">
          <div class="col-xs-6">
              <span><b>Before</b></span>
              <img src="{{ site.baseurl }}/assets/img/{{page.before_jpg}}" class="img-responsive" alt="The old experience" />
          </div>
          <div class="col-xs-6">
              <span><b>After</b></span>
              <img src="{{ site.baseurl }}/assets/img/{{page.after_jpg}}" class="img-responsive" alt="The vets.gov experience" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
