<div class="container">
  <div class="row ux-compare">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-6">
            <p class="title">Before</p>
            <img src="{{ site.baseurl }}/assets/img/{{page.before_jpg}}" class="img-responsive" alt="The old experience" />
        </div>
        <div class="col-xs-6">
            <p class="title">After</p>
            <img src="{{ site.baseurl }}/assets/img/{{page.after_jpg}}" class="img-responsive" alt="The vets.gov experience" />
        </div>
      </div>
    </div>
  </div>
</div>
