
.status {
  width: 20px;
  height: 10px;
  display: inline-block; }

.complete {
  background-color: #C0C0C0; }

.in-progress {
  background-color: #009900; }

.low-risk {
  background-color: yellow; }

.high-risk {
  background-color: red; }

.not-started {
  background-color: #fff;
  border: 1px solid #999; }

.not-applicable {
  background-color: #808080; }

.migration_table {
  border-spacing: 0;
  margin: 2em 0;}

.migration_table thead tr {
    background-color: #f1f1f1; }

.migration_table thead th {
    text-align: left; }

.migration_table th,
.migration_table td {
    border: 1px solid #5b616b;
    padding: 1.5rem; }

ul.legend {
  padding-top: 50px;
  margin-left: 0;
  font-size: 24px;}
  ul.legend li {
    list-style: none;
    display: inline-block;
    margin-right: 1rem; }
    ul.legend li:before {
      content: ""; }

.note {
  text-align: right;
  font-size: 12px;
  color: #333;
  font-style: italic; }
