.category-grid {
  margin-top: -30px;
}

.category-grid a:hover {
  text-decoration: none;
}

.project-wrapper,
.comingsoon-wrapper {
  background-color: $medium-blue;
  color: white;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  min-height: 200px;
  margin-bottom: 20px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.45);
  z-index: 200;
}

.project-wrapper p a {
  color: white;
  text-decoration: underline;
}

.project-wrapper:hover {
    background-color: $bright-blue;
}


.project-wrapper p.project-title:after {
  content: "View more";
  width: 100%;
  overflow: hidden;
  font-size: .65em;
  font-weight: normal;
  text-transform: uppercase;
  background: #0071BC;
  color: #fff;
  display: block;
  right: 0;
  bottom: 0;
  padding: .35em;
  -webkit-border-bottom-left-radius: .35em;
  -webkit-border-bottom-right-radius: .35em;
  border-bottom-left-radius: .35em;
  border-bottom-right-radius: .35em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: absolute;
  text-align: right;
  z-index: -500;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.project-wrapper:hover p.project-title:after {
}

.project-title {
  font-weight: bold;
  font-size: 20px;
}

.label-status {
  font-size: 14px;
  position: absolute;
  bottom: 40px;
  padding: .25em .75em;
  font-weight: normal;
}

.category-header {
  font-weight: bold;
  font-size: 24px;
  color: $bright-blue;
}

.band {
  display: block;
  padding: 1.5em 0;
  opacity: .95;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   backface-visibility: hidden;
}

.band-spaced {
  margin-top: 80px;
}

.band:active, .band:hover {
  opacity: 1;
}

.band:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.shaded {
  background-color: $light-gray;
}
