.tab-content.loading-data .tab-pane {
  display: block;
}

.tab-content>.tab-pane {
  display: block !important;
  height: 0px;
  overflow: hidden;
}

.tab-content>.active {
  display: block;
  height: 270px;
}

.tabs-chart {
  padding-top: 0 !important;
}

.tabs-chart li {
  text-align: center;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-top: 5px solid white;
}

@media only screen and (min-width: 768px) {
  .tabs-chart li {
  font-size: 28px;
  }
}


.tabs-chart > li > a:hover {
  background-color: $bright-blue;
  border-top: 5px solid $bright-blue;

}

.tabs-chart > li > a {
  background-color: $medium-blue;
  color: white;
  border-top: 5px solid $medium-blue;
  border-radius: 0;
  font-size: .85em;
}

.tabs-chart > li.active > a,
.tabs-chart > li.active > a:hover,
.tabs-chart > li.active > a:focus {
  background-color: $dark-blue;
  color: white;
  border-radius: 0;
  border-width: 0;
  text-decoration: none;
  border-top: 5px solid $contrast-orange;
  position: relative;
}

.tab-content {
  border: 1px solid $dark-blue;
}

.tab-icon {
  margin-right: 5px;
}
