.va-notice {
    background: $medium-blue none repeat scroll 0% 0%;
    padding: 0.5em;
    font-size: 14.4px;
    font-weight: 300;
}

.va-notice p {
  margin: 0;
}

.va-notice a {
  color: white;
}
