---
title: Health Care Application
subtitle: Before 8% of Veterans were able to access the application
---

{% include header.html %}

    <div class="row">
      <div class="col-md-12">
        <h1>{{page.title}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>{{page.subtitle}}</h3>
      </div>
    </div>

    <div class="row">

      {% for metric in site.data.hca %}

        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                {{metric.name}}
              </div>
              <div class="chart-stage">
                <div id="grid-1-1">
                  <h2>{{metric.datapoint}}</h2>
                </div>
              </div>
              <div class="chart-notes">
                {{metric.context}}
              </div>
            </div>
        </div>

      {% endfor %}

      <div class="col-md-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Site Traffic
            </div>
            <div class="chart-stage">
              <div id="grid-1-1">
                <canvas id="sessions" width="400" height="150"></canvas>

<script>
var ctx = document.getElementById("sessions");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for line in site.data.hca_sessions %}"{{ line.day }}",{% endfor %}],
        datasets: [{
            label: 'Number of Sessions',
            data: [{% for line in site.data.hca_sessions %}{{ line.sessions }},{% endfor %}],
            backgroundColor: "rgba(17,46,81,0.3)",
            borderColor: "rgba(17,46,81,1)",
        }]
    },
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
        },
        legend: {
          display: false
        }
    }
});
</script>

              </div>
            </div>
            <div class="chart-notes">
              Total user sessions per day
            </div>
          </div>
      </div>

      <div class="col-md-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Mobile Usage
            </div>
            <div class="chart-stage">
              <div id="grid-1-1">
                <canvas id="mobile" width="400" height="150"></canvas>

<script>
var ctx = document.getElementById("mobile");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for line in site.data.hca_mobile %}"{{ line.day }}",{% endfor %}],
        datasets: [{
            label: 'Mobile',
            data: [{% for line in site.data.hca_mobile %}{{ line.mobile }},{% endfor %}],
            backgroundColor: "rgba(17,46,81,0.3)",
            borderColor: "rgba(17,46,81,1)",

        },
        {
            label: 'Desktop',
            data: [{% for line in site.data.hca_mobile %}{{ line.desktop }},{% endfor %}],
            backgroundColor: "rgba(200,200,200,0)",
            borderColor: "rgba(175,175,175,1)",
        }]
    },
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    max:100,
                },
                scaleLabel: {
                  display: true,
                  labelString: 'Percentage',
                }
            }]
        }
    }
});
</script>

              </div>
            </div>
            <div class="chart-notes">
              Percentage of sessions by device type
            </div>
          </div>
      </div>

      <div class="col-md-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              New and returning Veterans
            </div>
            <div class="chart-stage">
              <div id="grid-1-1">
                <canvas id="newusers" width="400" height="150"></canvas>

<script>
var ctx = document.getElementById("newusers");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for line in site.data.hca_new %}"{{ line.day }}",{% endfor %}],
        datasets: [{
            label: 'New',
            data: [{% for line in site.data.hca_new %}{{ line.new }},{% endfor %}],
            backgroundColor: "rgba(17,46,81,0)",
            borderColor: "rgba(17,46,81,1)",

        },
        {
            label: 'Returning',
            data: [{% for line in site.data.hca_new %}{{ line.returning }},{% endfor %}],
            backgroundColor: "rgba(200,200,200,0)",
            borderColor: "rgba(175,175,175,1)",
        }]
    },
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                },
            }]
        }
    }
});
</script>

              </div>
            </div>
            <div class="chart-notes">
              Percentage of sessions by user type
            </div>
          </div>
      </div>

    </div>

{% include footer.html %}
